{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <div role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
          <div class="breadcrumb__links">
            {% for item in breadcrumb %}
              {% if loop.first %}
                <a href="{{ item.url }}"><i class="fa fa-home"></i> {{ item.text }}</a>
              {% endif %}
              {% if not loop.first %}
                {% if item.url %}
                  <a href="{{ item.url }}">{{ item.text }}</a>
                {% else %}
                  <span>{{ item.text }}</span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
