img {
  max-width: 100%;
  height: auto;
}

/* Form */
form input {
  height: 50px;
  font-size: 13px;
  color: #666666;
  padding-left: 20px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  margin-right: 16px;
  max-width: 100%;
}
form input:-ms-input-placeholder {
  color: #666666;
}
form input::placeholder {
  color: #666666;
}

form textarea {
  height: 120px;
  font-size: 13px;
  color: #666666;
  padding-left: 20px;
  padding-top: 12px;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 14px;
  resize: none;
}
form textarea:-ms-input-placeholder {
  color: #666666;
}
form textarea::placeholder {
  color: #666666;
}

form [type=submit] {
  font-size: 15px;
  color: #ffffff;
  background: #5c00ce;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 30px;
  width: 100%;
}

/* Admin Tabs */
#block-tabs {
  clear: both;
  z-index: 100;
}
#block-tabs ul {
  padding: 0;
}
#block-tabs ul li {
  display: inline-block;
  text-decoration: none;
}
#block-tabs ul li a {
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1;
  color: #000000;
  transition: 0.3s;
}
#block-tabs ul li a:hover,
#block-tabs ul li a:focus {
  background: #ebebeb;
}
#block-tabs ul li a.is-active {
  background: #ebebeb;
}

body {
  min-width: 320px;
}

/* Pager */
.pagination__links {
  text-align: left;
}
.pagination__links a.is-active {
  background: #290849;
  color: #ffffff;
}

/* Footer */
.footer {
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 0;
  padding-top: 360px;
  padding-bottom: 60px;
}

.footer__copyright__text {
  margin-top: 30px;
}

/* Article */
.article__hero {
  position: relative;
  z-index: 1;
  padding-right: 50px;
  margin-bottom: 110px;
  padding-left: 30px;
}
.article__hero img {
  display: block;
  width: 100%;
}
.article__hero:after {
  position: absolute;
  left: 50px;
  top: -50px;
  width: calc(100% - 50px);
  height: 100%;
  border: 20px solid rgba(9, 53, 247, 0.1);
  content: "";
  z-index: -1;
}

.article__title {
  font-size: 42px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.article__meta {
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 38px;
  margin-bottom: 40px;
  color: #5c00ce;
}
.article__meta ul {
  float: left;
}
.article__meta li {
  list-style: none;
  font-size: 15px;
  color: #111111;
  padding-left: 35px;
  position: relative;
  margin-bottom: 10px;
}
.article__meta li:last-child {
  margin-bottom: 0;
}
.article__meta i {
  color: #5c00ce;
  position: absolute;
  left: 0;
  top: 3px;
}
.article__meta span {
  display: inline-block;
  padding-right: 8px;
  position: relative;
}
.article__meta span:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "|";
}
.article__meta span:last-child:after {
  display: none;
}

.article__price {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  padding: 14px 25px 12px 30px;
  background: #5c00ce;
  float: right;
}

.article__download {
  margin-top: 30px;
}

.article__body {
  padding-left: 30px;
  padding-right: 0;
}

/* Blog */
.blog__details__content blockquote {
  border: 1px solid #e1e1e1;
  padding: 35px 40px 35px 40px;
  position: relative;
  margin-bottom: 35px;
}
.blog__details__content blockquote:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f10e';
  font-size: 36px;
  color: #5c00ce;
  position: absolute;
  right: 40px;
  bottom: 35px;
}

.blog__details__option .blog__option__btn__pic img {
  max-width: 115px;
  height: auto;
}

.blog__details__form {
  margin-bottom: 30px;
}
.blog__details__form h2 {
  color: #111111;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.blog__details__form h2:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 70px;
  background: #e1e1e1;
  content: "";
  margin: 0 auto;
}
.blog__details__form .indented {
  padding-left: 30px;
}

.blog__sidebar__item form input[type="submit"] {
  color: #ffffff;
  padding: 14px 30px;
}

.recent__item .recent__item__pic img {
  max-width: 115px;
  height: auto;
}

/* Event */
.event__item__text a {
  color: #111111;
}
.event__item__text a:hover,
.event__item__text a:focus {
  color: #111111;
}

/* Discography */
.discography img {
  display: block;
  width: 100%;
}

.discography__item__text {
  padding: 25px;
}
.discography__item__text h4 a {
  color: #000000;
}
.discography__item__text h4 a:hover,
.discography__item__text h4 a:focus {
  color: #000000;
}

/* Tours */
.tours .tours__item:nth-child(2n) .col-lg-6 {
  -ms-flex-order: 2;
  order: 2;
}
.tours .tours__item:nth-child(2n) .col-lg-6:nth-child(2n) {
  -ms-flex-order: 1;
  order: 1;
}

.tours__item__text a {
  color: #111111;
}
.tours__item__text a:hover,
.tours__item__text a:focus {
  color: #111111;
}

.tours__item__text .tours__text__widget ul li span {
  margin-right: 0;
}

/* Comment */
.comment-form .filter-wrapper {
  display: none;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
}

.comment__item {
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.comment__meta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Now Regular';
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  border-top: 1px solid #e1e1e1;
  margin-top: 15px;
  padding-top: 15px;
}

.comment__link ul li {
  list-style: none;
  display: inline-block;
}
.comment__link ul li a {
  display: block;
  color: #444444;
  padding: 5px 10px 5px;
  background: #f5f5f5;
  font-size: 12px;
  margin-right: 5px;
}
.comment__link ul li a:hover,
.comment__link ul li a:focus {
  color: #444444;
  padding: 5px 10px 5px;
  background: #f5f5f5;
}
.comment__link ul li:last-child a {
  margin-right: 0;
}

/* Block */
.section-title.center-title {
  text-align: center;
}

.section-title.right-title {
  text-align: right;
}

.view-all {
  text-align: right;
}

/* Hero */
.hero__text span,
.hero__text h6 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* Services */
.services .services__list [class*="col-"]:nth-child(1) .service__item,
.services .services__list [class*="col-"]:nth-child(4) .service__item {
  background: #5400bc;
}

/* Countdown */
.countdown {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* Contact */
.contact__address .contact__item {
  padding-left: 100px;
  position: relative;
  margin-bottom: 30px;
}
.contact__address .contact__item i {
  font-size: 30px;
  height: 70px;
  width: 70px;
  background: #f5f5f5;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  color: #5c00ce;
  position: absolute;
  left: 0;
  top: -4px;
}
.contact__address .contact__item h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact__address .contact__item p {
  margin-bottom: 0;
}

/* Gallery */
.gallery {
  overflow: hidden;
}
.gallery .grid-sizer,
.gallery .grid-item {
  width: 50%;
}
.gallery .grid-item--large {
  width: 100%;
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1px;
  margin: 0;
}

.about-pic .container-fluid {
  padding: 0;
}

/* Footer */
.footer__address .contact__item {
  padding-left: 70px;
  position: relative;
  margin-bottom: 30px;
}
.footer__address .contact__item i {
  font-size: 18px;
  color: #5c00ce;
  height: 50px;
  width: 50px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
.footer__address .contact__item h5 {
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 8px;
}
.footer__address .contact__item p {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.footer__social a {
  font-size: 18px;
  color: #5c00ce;
  height: 50px;
  width: 50px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.footer__newsletter h2 {
  font-size: 26px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__newsletter input {
  height: 50px;
  font-size: 15px;
  color: #ffffff;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 20px;
}

.footer__newsletter [type=submit] {
  font-size: 15px;
  color: #ffffff;
  background: #5c00ce;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 30px;
  width: 100%;
}

@media (min-width: 576px) {
  .gallery .grid-sizer,
  .gallery .grid-item {
    width: 20%;
}
  .gallery .grid-item--large {
    width: 40%;
} }

/* Download item */
.paragraph--type--download-item {
  display: inline-block;
  margin: 0 2px;
}

/*# sourceMappingURL=maps/style.css.map */
