{#
/**
 * @file
 * Default theme implementation for the flippy pager.
 *
 * Available variables:
 * - node: The current node.
 * - first: The first pager link.
 * - prev: The previous pager link.
 * - random: The random pager link.
 * - next: The first pager link.
 * - last: The last pager link.
 *
 * @see template_preprocess_flippy()
 *
 * @ingroup themeable
 */
#}
<div class="blog__details__option">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      {% if prev %}
        <a href="{{ node_previous.url }}" class="blog__option__btn">
        <h6 class="option__btn__name"><i class="fa fa-angle-left"></i> {{ node_previous.label }}</h6>
        <div class="blog__option__btn__item">
          <div class="blog__option__btn__pic">
            <img src="{{ node_previous.image_source }}" alt="{{ node_previous.title }}">
          </div>
          <div class="blog__option__btn__text">
            <h6>{{ node_previous.title|length > 44 ? node_previous.title|slice(0, 44) ~ '...' : node_previous.title  }}</h6>
            <span>{{ node_previous.created }}</span>
          </div>
        </div>
      </a>
      {% endif %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      {% if next %}
        <a href="{{ node_next.url }}" class="blog__option__btn blog__option__btn--next">
        <h6 class="option__btn__name">{{ node_next.label }} <i class="fa fa-angle-right"></i></h6>
        <div class="blog__option__btn__item">
          <div class="blog__option__btn__pic">
            <img src="{{ node_next.image_source }}" alt="{{ node_next.title }}">
          </div>
          <div class="blog__option__btn__text">
            <h6>{{ node_next.title|length > 44 ? node_next.title|slice(0, 44) ~ '...' : node_next.title }}</h6>
            <span>{{ node_next.created }}</span>
          </div>
        </div>
      </a>
      {% endif %}
    </div>
  </div>
</div>
