{% set footer_background_image = '/' ~ directory ~ '/images/footer-bg.png' %}
{% set footer_attribute = create_attribute() %}
{%
  set footer_classes = [
  'footer',
  'spad',
  'set-bg',
  is_front ? 'footer--home'
]
%}

<footer{{ footer_attribute.addClass(footer_classes) }} data-setbg="{{ footer_background_image }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        {{ page.footer_1 }}
      </div>
      <div class="col-lg-4 offset-lg-1 col-md-6">
        {{ page.footer_2 }}
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-6">
        {{ page.footer_3 }}
      </div>
    </div>
    <div class="footer__copyright__text">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p>Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p>This Drupal theme is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.drupal.org/spinetta" target="_blank">Spinetta</a></p>
    </div>
  </div>
</footer>
