{% set header_attribute = create_attribute() %}
{%
  set header_classes = [
  'header',
  not is_front ? 'header--normal'
]
%}

<header{{ header_attribute.addClass(header_classes) }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="header__logo">
          {{ page.branding }}
        </div>
      </div>
      <div class="col-lg-10 col-md-10">
        <div class="header__nav">
          {{ page.navigation }}
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
