{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set titile_attributes = create_attribute() %}
{% set title_classes = [
  'section-title',
   block_reference.title_position == 'center' ? 'center-title',
   block_reference.title_position == 'right' ? 'right-title'
]
%}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if block_reference.two_column is same as(true) %}
    <div class="row">
      <div class="col-lg-7">
        <div{{ title_attributes.addClass(title_classes) }}>
          {{ content.field_heading }}
          {{ content.field_subheading }}
        </div>
      </div>
      <div class="col-lg-5">
        {{ content.field_link }}
      </div>
    </div>
  {% else %}
    <div{{ title_attributes.addClass(title_classes) }}>
      {{ content.field_heading }}
      {{ content.field_subheading }}
    </div>
  {% endif %}

  {% block content %}

    {{ content|without('field_heading', 'field_subheading', 'field_title_position', 'field_link') }}

  {% endblock %}
</div>
