{% extends directory ~ '/templates/block/block--region--aside.html.twig' %}

{% block content %}
  <div{{ content_attributes.addClass('blog__sidebar__social') }}>
    {{ content }}
  </div>
{% endblock %}
