{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% set classes = [
  'videos__item',
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="videos__item__pic set-bg" data-setbg="{{ media_video.video_thumbnail }}">
    <a href="{{ media_video.video_source }}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
  </div>
  <div class="videos__item__text">
    <h5{{ title_attributes }}>{{ media_video.video_name }}</h5>
    {{ title_suffix.contextual_links }}

    {% if media_video.video_duration or media_video.video_date %}
      <ul>
        {% if media_video.video_duration %}
          <li>{{ media_video.video_duration }}</li>
        {% endif %}
        {% if media_video.video_date %}
          <li>{{ media_video.video_date }}</li>
        {% endif %}
      </ul>
    {% endif %}

    {% if content %}
      {{ content|without('field_media_oembed_video', 'field_date', 'field_duration') }}
    {% endif %}

  </div>
</article>
