{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% set classes = [
  'skills__video',
  'set-bg'
]
%}

<article{{ attributes.addClass(classes) }} data-setbg="{{ media_video.video_thumbnail }}">
  <a href="{{ media_video.video_source }}" class="play-btn video-popup"><i class="fa fa-play"></i></a>

  {% if content %}
    {{ content|without('field_media_oembed_video') }}
  {% endif %}

</article>
