{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% set classes = [
  'youtube__item',
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="youtube__item__pic set-bg" data-setbg="{{ media_video.video_thumbnail }}">
    <a href="{{ media_video.video_source }}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
  </div>
  <div class="youtube__item__text">
    <h4{{ title_attributes }}>{{ media_video.video_name }}</h4>
    {{ title_suffix.contextual_links }}

    {% if content %}
      {{ content|without('field_media_oembed_video') }}
    {% endif %}

  </div>
</article>
