{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% set classes = [
  'videos__large__item',
  'set-bg'
]
%}

<article{{ attributes.addClass(classes) }} data-setbg="{{ media_video.video_thumbnail }}">
  <a href="{{ media_video.video_source }}" class="play-btn video-popup"><i class="fa fa-play"></i></a>
  <div class="videos__large__item__text">
    <h4{{ title_attributes }}>{{ media_video.video_name }}</h4>
    {{ title_suffix.contextual_links }}
    {% if media_video.video_duration or media_video.video_date %}
      <ul>
        {% if media_video.video_duration %}
          <li>{{ media_video.video_duration }}</li>
        {% endif %}
        {% if media_video.video_date %}
          <li>{{ media_video.video_date }}</li>
        {% endif %}
      </ul>
    {% endif %}

    {% if content %}
      {{ content|without('field_media_oembed_video', 'field_date', 'field_duration') }}
    {% endif %}

  </div>
</article>
