/* Block */
.section-title {
  &.center-title {
    text-align: center;
  }
  &.right-title {
    text-align: right;
  }
}

.view-all {
  text-align: right;
}

/* Hero */
.hero__text {
  span, h6 {
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}

/* Services */
.services {
  .services__list {
    [class*="col-"] {
      &:nth-child(1),
      &:nth-child(4){
        .service__item {
          background: #5400BC;
        }
      }
    }
  }
}

/* Countdown */
.countdown {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* Contact */
.contact__address {
  .contact__item {
    padding-left: 100px;
    position: relative;
    margin-bottom: 30px;
    i {
      font-size: 30px;
      height: 70px;
      width: 70px;
      background: $background;
      border-radius: 50%;
      line-height: 70px;
      text-align: center;
      color: $primary-color;
      position: absolute;
      left: 0;
      top: -4px;
    }
    h5 {
      font-size: 20px;
      color: $heading-color;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

/* Gallery */
.gallery {
  overflow: hidden;
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .grid-item--large {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 1px;
    margin: 0;
  }
}

.about-pic {
  .container-fluid {
    padding: 0;
  }
}

/* Footer */
.footer__address {
  .contact__item {
    padding-left: 70px;
    position: relative;
    margin-bottom: 30px;
    i {
      font-size: 18px;
      color: $primary-color;
      height: 50px;
      width: 50px;
      background: $white-color;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }
    h5 {
      color: $white-color;
      opacity: 0.7;
      margin-bottom: 8px;
    }
    p {
      font-size: 15px;
      font-weight: 700;
      color: $white-color;
      margin: 0;
    }
  }
}

.footer__social {
  a {
    font-size: 18px;
    color: $primary-color;
    height: 50px;
    width: 50px;
    background: $white-color;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
  }
}

.footer__newsletter {
  h2 {
    font-size: 26px;
    color: $white-color;
    font-weight: 700;
    margin-bottom: 30px;
  }
  input {
    height: 50px;
    font-size: 15px;
    color: $white-color;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
  }
  [type=submit] {
    font-size: 15px;
    color: #ffffff;
    background: $primary-color;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 30px;
    width: 100%;
  }
}

@media (min-width: map_get($grid-breakpoints, 'sm')) {
  .gallery {
    .grid-sizer,
    .grid-item {
      width: 20%;
    }
    .grid-item--large {
      width: 40%;
    }
  }
}
