/* Article */
.article__hero {
  position: relative;
  z-index: 1;
  padding-right: 50px;
  margin-bottom: 110px;
  padding-left: 30px;
  img {
    display: block;
    width: 100%;
  }
  &:after {
    position: absolute;
    left: 50px;
    top: -50px;
    width: calc(100% - 50px);
    height: 100%;
    border: 20px solid rgba(9, 53, 247, 0.1);
    content: "";
    z-index: -1;
  }
}

.article__title {
  font-size: 42px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.article__meta {
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 38px;
  margin-bottom: 40px;
  color: #5c00ce;
  ul {
    float: left;
  }
  li {
    list-style: none;
    font-size: 15px;
    color: #111111;
    padding-left: 35px;
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0
    }
  }
  i {
    color: #5c00ce;
    position: absolute;
    left: 0;
    top: 3px;
  }
  span {
    display: inline-block;
    padding-right: 8px;
    position: relative;
    &:after {
      position: absolute;
      right: 0;
      top: 0;
      content: "|";
    }
    &:last-child:after {
      display: none;
    }
  }
}

.article__price {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  padding: 14px 25px 12px 30px;
  background: #5c00ce;
  float: right;
}

.article__download {
  margin-top: 30px;
}

.article__body {
  padding-left: 30px;
  padding-right: 0;
}

/* Blog */
.blog__details__content {
  blockquote {
    border: 1px solid $border-1;
    padding: 35px 40px 35px 40px;
    position: relative;
    margin-bottom: 35px;
    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f10e';
      font-size: 36px;
      color: $primary-color;
      position: absolute;
      right: 40px;
      bottom: 35px;
    }
  }
}

.blog__details__option {
  .blog__option__btn__pic {
    img {
      max-width: 115px;
      height: auto;
    }
  }
}

.blog__details__form {
  margin-bottom: 30px;
  h2 {
    color: $heading-color;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      width: 70px;
      background: $border-1;
      content: "";
      margin: 0 auto;
    }
  }
  .indented {
    padding-left: 30px;
  }
}

.blog__sidebar__item  {
  form {
    input[type="submit"] {
      color: $white-color;
      padding: 14px 30px;
    }
  }
}

.recent__item {
  .recent__item__pic {
    img {
      max-width: 115px;
      height: auto;
    }
  }
}

/* Event */
.event__item__text {
  a {
    color: $heading-color;
    &:hover, &:focus {
      color: $heading-color;
    }
  }
}

/* Discography */
.discography {
  img {
    display: block;
    width: 100%;
  }
}

.discography__item__text {
  padding: 25px;
  h4 a {
    color: $black-color;
    &:hover, &:focus {
      color: $black-color;
    }
  }
}

/* Tours */
.tours {
  .tours__item {
    &:nth-child(2n) {
      .col-lg-6 {
        order: 2;
        &:nth-child(2n) {
          order: 1;
        }
      }
    }
  }
}

.tours__item__text {
  a {
    color: $heading-color;
    &:hover, &:focus {
      color: $heading-color;
    }
  }
  .tours__text__widget {
    ul {
      li {
        span {
          margin-right: 0;
        }
      }
    }
  }
}

/* Comment */
.comment-form {
  .filter-wrapper {
    display: none;
  }
  input, textarea {
    width: 100%;
  }
}

.comment__item {
  padding: 1.5rem;
  border: 1px solid $border-1;
  margin-bottom: 30px;
}

.comment__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Now Regular';
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  border-top: 1px solid $border-1;
  margin-top: 15px;
  padding-top: 15px;
}

.comment__link {
  ul {
    li {
      list-style: none;
      display: inline-block;
      a {
        display: block;
        color: #444444;
        padding: 5px 10px 5px;
        background: $background;
        font-size: 12px;
        margin-right: 5px;
        &:hover, &:focus {
          color: #444444;
          padding: 5px 10px 5px;
          background: $background;
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}
