body {
  min-width: 320px;
}

/* Pager */
.pagination__links {
  text-align: left;
  a {
    &.is-active {
      background: #290849;
      color: $white-color;
    }
  }
}

/* Footer */
.footer {
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 0;
  padding-top: 360px;
  padding-bottom: 60px;
}

.footer__copyright__text {
  margin-top: 30px;
}

@media (min-width: map_get($grid-breakpoints, 'sm')) {

}

@media (min-width: map_get($grid-breakpoints, 'md')) {

}

@media (min-width: map_get($grid-breakpoints, 'lg')) {

}
