/* Admin Tabs */
#block-tabs {
  clear: both;
  z-index: 100;
  ul {
    padding: 0;
    li {
      display: inline-block;
      text-decoration: none;
      a {
        display: block;
        padding: 0.5rem 1rem;
        line-height: 1;
        color: $black-color;
        transition: 0.3s;
        &:hover, &:focus {
          background: $border;
        }
        &.is-active {
          background: $border;
        }
      }
    }
  }
}
