img {
  max-width: 100%;
  height: auto;
}

/* Form */
form {
  input {
    height: 50px;
    font-size: 13px;
    color: #666666;
    padding-left: 20px;
    border: 1px solid $border-1;
    margin-bottom: 20px;
    margin-right: 16px;
    max-width: 100%;
    &::placeholder {
      color: #666666;
    }
  }
  textarea {
    height: 120px;
    font-size: 13px;
    color: #666666;
    padding-left: 20px;
    padding-top: 12px;
    border: 1px solid $border-1;
    width: 100%;
    margin-bottom: 14px;
    resize: none;
    &::placeholder {
      color: #666666;
    }
  }
  [type=submit] {
    font-size: 15px;
    color: #ffffff;
    background: $primary-color;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 30px;
    width: 100%;
  }
}

@media (min-width: map_get($grid-breakpoints, 'sm')) {

}

@media (min-width: map_get($grid-breakpoints, 'md')) {

}

@media (min-width: map_get($grid-breakpoints, 'lg')) {

}
